[submodule "qt/third-party/Qt-Color-Picker"]
	path = qt/third-party/Qt-Color-Picker
	url = https://github.com/mbasaglia/Qt-Color-Picker.git
[submodule "qt/third-party/fervor"]
	path = qt/third-party/fervor
	url = https://github.com/todbot/fervor.git
[submodule "openwrt/blink1-tool"]
	path = openwrt/blink1-tool
	url = https://github.com/todbot/blink1-tool
