/* ThingM Orange Light: #FFB540 */
/* ThingM Orange Medium: #F7931E */
/* ThingM Orange Dark: #FC700E */


/****************************************

	UNIVERSAL STYLES

****************************************/


* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue-BoldCondensed", "Helvetica Neue Bold Condensed", "Helvetica Neue", "Arial Narrow", "Arial", sans-serif;
	font-weight:600;
	font-stretch:condensed;
/* 	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", 'Helvetica', Arial, sans-serif; */
/* 	font-weight: bold; */
	color: #444;
/* 	background: #f0f0f0  url('../images/stripe_bg-light.png'); */
	background: #f0f0f0;
}

input {
	font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue-BoldCondensed", "Helvetica Neue Bold Condensed", "Helvetica Neue", "Arial Narrow", "Arial", sans-serif;
	font-weight:600;
	font-stretch:condensed;
	font-size: 15px;	
}

select, option {
	font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: .8em;
}


input[type="button"] {
	padding-left: 8px;
	padding-right: 8px;
	height: 30px;
	text-align: center;
	background: #e6e6e6;
	border: 1px solid #4d4d4d;
	cursor: pointer;
}

	input[type="button"]:hover, input[type="button"]:active {
		background: #F7931E;
	}

a {
	color: #999;
	cursor: pointer;
}

	a:hover, a.cancel:hover {
		color: #F7931E;
	}
	
	a.cancel {
		font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
		font-size: 12px;
		text-decoration: underline;
		font-weight: normal;
		padding: 6px;
	}
	
p {
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-stretch: normal;
	font-size: 13px;
	font-weight: normal;
	line-height: 14px;
	margin-bottom: 8px;
}

h2 {
	margin-bottom: 20px;
}

p span.light {
		font-weight: normal;
		color: #999;
		font-size: 12px;
	}

/****************************************

	MAIN CONTENT (TAB PAGES) STYLES

****************************************/


#container {
	background: white;
	width: 838px;
	height: 618px;
	margin: 0px auto; 
	border: none;
	border: 1px solid #666;	
	position: relative;
/*
	box-shadow: 0px 1px 3px #aaa;	
	-webkit-box-shadow: 0px 1px 3px #aaa;		
	-moz-box-shadow: 0px 1px 3px #aaa;		
*/
}

.ie7 #container, .ie8 #container {
	height: 570px;
}


#header {
	width: 778px;
	height: 72px;
	background: #E6E6E6;
	padding: 10px 30px;
	border-bottom: 1px solid #999;
}

	#header h1 {
		font-family: "Coder's Crux Regular";
		font-size: 58px;
		font-weight: normal;
		line-height: 44px;
	}
	
	#header a {
		font-size: 15px;
		display: block;
		text-decoration: none;
		color: #444;
		width: 80px;
	}
	
		#header a:hover {
			color: #FC700E;
			opacity: .8;
		}

#navbar {
	float: right;
	margin-bottom: 8px;
	position: absolute;
	right:10px;
	top: 54px;
}

	ul#navbar li {
		display: inline-block;
/* 		padding: 3px 20px; */
		font-size: 17px;
/* 		height: 22px; */
		height: 30px;
		cursor: pointer;
	}
	
		ul#navbar li a {
			text-decoration: none;
			color: #444;
			display: block;
			padding: 4px 22px;
		}
	
		ul#navbar li#settings-tab {
			height: 30px;
			width: 80px;
		}
		
			ul#navbar li#settings-tab a {
				height: 30px;
				width: 58px;
			}
	
		ul#navbar li:hover {
			background: #ccc;
		}
		
		ul#navbar li.active {
			background-color: #4d4d4d;
			color: #fff;
		}
		
			ul#navbar li.active a {
				color: #fff;
			}
	
			ul#navbar li.active:hover {
				background-color: #3d3d3d;
			}
			
				ul#navbar li.active:hover a {
					color: #fff;
				}
			
		ul#navbar li#settings-tab {
			background: transparent url('../images/settings-gears.png') no-repeat 18px 3px;
			width: 58px;
		}

			ul#navbar li#settings-tab:hover {
				background-color: #ccc;
			}
		
			ul#navbar li#settings-tab.active {
				background: #4d4d4d url('../images/settings-gears.png') no-repeat 18px -27px;
			}
			
	#container .ui-state-focus {
		outline: none;
	}
	
		#container .ui-state-focus a {
			outline: none;
		}
	
#main-content {
	padding: 60px 60px 50px 70px;
	width: 704px;
	min-height: 375px;
}	

/*
	#main-content #welcome-fade {
		width: 780px;
		height: 80px;
		position: absolute;
		top: -70px;
		background: white;
		left: 40px;
		opacity: .8;
		z-index: 1;
	}
*/

	#main-content #welcome-message {
		display: block;
		width: 320px;
		height: 188px;
		position: absolute;
		top: 173px;
		left: -38px;
		padding-left: 222px;
		background: transparent url('../images/arrow-box.png') no-repeat 90px 51px;
		padding-top: 102px;
		padding-right: 30px;

		/*
display: block;
		width: 320px;
		height: 244px;
		position: absolute;
		top: 276px;
		left: -40px;
		padding-left: 220px;
		background: transparent url('../images/arrow-box.png') no-repeat 96px 55px;	
*/
	}



		#main-content #welcome-message p {
			font-size: 15px;
			line-height: 20px;
		}	
	
	#main-content #trigger-list {
		position: relative;
		height: 350px;
		overflow: scroll;
		padding-right: 0px;
	}

		#main-content #trigger-list .trigger-options {
			padding: 14px 0 16px;
			position: relative;
			border-bottom: 1px solid #eee;
		}

			#main-content .trigger-options#trigger-options-to-clone {
				display: none;
			}

			#main-content #trigger-list .trigger-options .trigger-name, #main-content #trigger-list .trigger-options .trigger-source {
				display: block;
				float: left;
				width: 180px;
				height: 32px;
				line-height: 30px;
				font-size: 14px;
				padding-right: 10px;
				font-weight: bold;		
			}
			
			#main-content #trigger-list .trigger-options .trigger-source {
				font-weight: normal;
				width: 195px;
				font-size: 12px;
			}
		
			#main-content #trigger-list .trigger-options .trigger-behavior {
				width: 192px;
				display: block;
				float: left;
				margin-right: 28px;
				height: 32px;
				margin-bottom: 0px;
				margin-left: 4px;
			}
			
			#main-content #trigger-list .trigger-options .color-behavior-swatches {
				display: block;	
				position: relative;
				top: 2px;
			}

				#main-content #trigger-list .trigger-options .color-behavior-swatches li {
					display: inline-block;
					width: 15px;
					height: 22px;
					margin-right: 1px;
					margin-left: 0px;
					background: #999;
				}
				
				#main-content #trigger-list .trigger-options .color-behavior-swatches li.summary-color-swatch {
					display: none;
					border: 1px solid #999;
					font-size: 10px;
					font-weight: normal;
					text-align: center;
					line-height: 62px;
					font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
					color: #ccc;
				}
				
					#main-content #trigger-list .trigger-options .color-behavior-swatches li.summary-color-swatch:hover {
						color: #666;
						font-size: 10px;
					}
				
					#main-content #trigger-list .trigger-options .color-behavior-swatches li.summary-color-swatch.active {
						display: inline-block;
					}

					#main-content #trigger-list .trigger-options .color-behavior-swatches li.looping-option, #main-content #trigger-list .trigger-options .color-behavior-swatches li.number-of-repetitions-option  {
						float: right;
						margin-left: 4px;
						background: transparent;
					}
			
			#main-content #trigger-list ul + .trigger-options {
				/* border-top: 1px solid #eee; */
				margin-top: 0px;
			}		
	
		#main-content #trigger-list #trigger-headers {
			border-bottom: 1px solid #EEE;
			padding-bottom: 20px;
		}
	
			#main-content #trigger-list #trigger-headers li:nth-of-type(2) {
				width: 190px;
			}
			
			#main-content #trigger-list #trigger-headers li:nth-of-type(3) {
				width: 160px;
			}
		
			#main-content #trigger-list #trigger-headers li {
				opacity: .2;
				transition: opacity .2s;
				-moz-transition: opacity .2s; /* Firefox 4 */
				-webkit-transition: opacity .2s; /* Safari and Chrome */
				-o-transition: opacity .2s; /* Opera */
			} 
	
			#main-content #trigger-list select {
				width: 230px;
/* 				height: 32px; */
				margin-right: 26px;
				padding: 8px 8px 8px 10px;
				border: 1px solid #555;
				-webkit-appearance: none;
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;				
				border-bottom-left-radius: 0px;				
				border-bottom-right-radius: 0px;	
				background: white url('../images/dropdown-arrows-sprite.png') no-repeat 203px -1px;	
				cursor: pointer;	
				float: left;	
			}

				#main-content #trigger-list select:hover {
					background-position: 203px -41px;
				}
			
						
			#main-content #trigger-headers li {
				display: inline-block;
				margin-right: 16px;
				font-size: 22px;
				width: 170px;
				height: 20px;
			}
		
		#main-content a#add-new-trigger {
			margin-top: 20px;
			display: block;
			width: 34px;
			z-index: 1;
			position: relative;
		}
		
		
		#main-content #scroll-for-more {
			position: relative;
			text-align: center;
			top: -54px;
			color: #444;	
			line-height: 19px;
			width: 710px;
			margin: 0 auto;
			display: none;	
			font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "HelveticaNeue", sans-serif;
			font-size: 17px;
			padding-top: 32px;
			box-shadow: 1px -8px 13px -6px #EEE;
		}
		
			#main-content #scroll-for-more span {
				font-size: 12px;
				font-family:"Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
				color: #999;
			}
		
		#main-content a#add-new-trigger:hover img, .highlighted {
			box-shadow: 0px 0px 3px 2px orange;
			-moz-box-shadow: 0px 0px 3px 2px orange;
			-webkit-box-shadow: 0px 0px 3px 2px orange;
		}

		#main-content a.delete-trigger {
			background: transparent url('../images/close-x-sprite.png') no-repeat 5px 4px;
			display: block;
			height: 30px;
			width: 32px;
			display: none;
			position: absolute;
			right: 4px;
			top: 15px;
		}

			#main-content a.delete-trigger:hover {
				background-position: 5px -26px;
			}
			
		#main-content .trigger-options:hover a.delete-trigger {
			display: block;
		}

		#main-content #trigger-list .trigger-options .color-behavior-swatches li.repeat-option, #main-content #trigger-list .trigger-options .color-behavior-swatches li.number-of-repetitions-option {
			width: 18px;
			float: right;
			color: #555;
		}
		
		#main-content #trigger-list .trigger-options .color-behavior-swatches li.number-of-repetitions-option {
			width: 28px;
		}
				
		#main-content #trigger-list .trigger-options .color-behavior-swatches li.number-of-repetitions-option p {
			line-height: 22px;
			font-weight: bold;
			font-size: 13px;
		}
		
		#main-content #trigger-list .trigger-options .color-behavior-swatches li.repeat-option {
			background: transparent url('../images/repeat-arrow.png') no-repeat 0px 0px;			
		}
		
		#main-content #trigger-list .trigger-options .color-behavior-swatches li.repeat-option.true {
			opacity: 1;	
		}


		#main-content #trigger-list .trigger-options .color-behavior-swatches li.repeat-option.false {
			background-image: url('../images/play-arrow.png');
		}
					
/****************************************

	POPUP SCREEN COMMON STYLES

****************************************/

.popup-window {
	box-shadow:  0px 0px 24px 4px #555;
	-webkit-box-shadow:  0px 0px 24px 4px #555;
	-moz-box-shadow:  0px 0px 24px 4px #555;
	border: 1px solid #555;
	background: white;
	z-index: 10;
}

	.popup-window .popup-header {
		padding: 10px 16px;
		border-bottom: 1px solid #aaa;
		height: 66px;
		background: #E6E6E6;
	}


		.popup-window .popup-header h2 {
			margin: 15px;
			font-size: 29px;
		}
		
			.popup-window .popup-header h2 input[type="text"]{
				background: transparent;
				margin: 15px;
				font-size: 29px;
				color: #4D4D4D;
				height: 40px;
				margin: 0;
				width: 380px;
				padding-left: 10px;
			}
			
				.popup-window .popup-header h2 input[type="text"]:focus {
					background: #fafafa;
					border: 1px solid #aaa;
				}


	.popup-window .popup-content {
		padding: 30px;
	}
	
#gray-out {
	display: none;
	width: inherit;
	height: inherit;
	opacity: .4;
	position: absolute;
	top: 0;
	bottom: 0;
	background: #333 url('../images/gray-out-stripe.png');
	z-index: 1;
}
		
/****************************************

	CONFIGURATION POPUP STYLES

****************************************/

#configuration-popup {
	display: none;
	width: 720px;
	height: 490px;
	position: absolute;
	top: 50px;
	left: 60px;
	background: white;
	
}

	#configuration-popup h2 input:hover {
		background: #eee;
/* 		border: 1px solid #555; */
		box-shadow: inset 0px 0px 5px 2px #aaa;
		-moz-box-shadow: inset 0px 0px 5px 2px #aaa;
		-webkit-box-shadow: inset 0px 0px 5px 2px #aaa;
	}

    #configuration-popup .popup-content {
    	padding: 0 0 0 15px;
    }
	
	#configuration-popup label {
		font-family:"Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
		font-weight: normal;
		font-size: 11px;
		color: #666;
		line-height: 26px;
		height: 26px;
	}
	
	#configuration-popup select {
		height: 26px;
	}

	#configuration-popup .popup-header {
		width: 688px;
		height: 66px;
		background: #E6E6E6;
	}
	
	#configuration-popup #submit-options-buttons {
		position: absolute;
		right: 30px;
		bottom: 30px;
	}
	
	#configuration-popup input.save-button {
		font-size: 18px;
		text-transform: uppercase;
		height: 33px;
	}

		.ie8 #configuration-popup input.save-button {
			padding-bottom: 4px;
		}

		#configuration-popup input.save-button.save-changes {
			display: none;
		}

		#configuration-popup.existing input.save-button.save-changes {
			display: block;
		}
		
		#configuration-popup.existing input.save-button.save-as-new:hover, #configuration-popup.existing input.save-button.save-as-new:active {
			background-color: #5CA1FF;
		}
		
	#configuration-popup input.save-button, #configuration-popup  a.cancel {
		float: right;
		right: 80px;
		margin-left: 15px;
	} 

    #configuration-popup a.cancel {
	    bottom: 30px;
	    right: 20px;
    }
    
    #configuration-popup #submit-options-buttons a.cancel {
    	position: relative;
    	top: 10px;
    	right: -2px;
    }
    
    #configuration-popup h4 {
    	font-size: 21px;
    	text-transform: uppercase;
    	margin-bottom: 10px;
    	margin-top: 22px;
    }
        
    #configuration-popup .column-1, #configuration-popup .column-2, #configuration-popup .column-3 {
    	float: left;
    	margin: 14px 22px 0;
    	position: relative;
    }
    
    	#configuration-popup .column-1 {
    		width: 190px;
    		height: 390px;
    	}
    	
    	#configuration-popup .column-2 {
    		width: 166px;
    	}

	    	#configuration-popup .column-2 div {    	
	    		display: none;
	    	}
	    	
    	#configuration-popup .column-3 {
    		width: 200px;
    	}
    	
    #source-selector input[type="radio"] {
    	display: none;
    }

    #source-selector label {
    	display: inline-block;
    	background: white;
    	width: 168px;
    	height: 18px;
    	padding: 0px 8px 6px;
    	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    	font-size: 12px;
    	font-weight: normal;
    	border: 4px solid transparent;
    }
    
    	.ie8 #source-selector label { 
    		width: 138px;
    	}
    	
    	.ie8 #source-selector input[type="radio"] {
	    	display: inline;
	    	padding-left: 6px;
	    	padding-right: 0px;
	    }
    	
    	#source-selector input:checked + label {
    		border: 4px solid #F7931E;
    		position: relative;
    		left: -4px;
    		width: 172px;
    		padding-left: 12px;
    		box-shadow: inset 0 0 1px 1px #888;
    		-webkit-box-shadow: inset 0 0 1px 1px #888;
    		-moz-box-shadow: inset 0 0 1px 1px #888;
    	}


	    #source-selector label:nth-of-type(2n) {
	    	background-color: #fafafa;
	    }
	    
	#source-selector .options-group {
		padding: 0;
		border: 1px solid #999;
		height: auto;
		width: 192px;
	}
	

	#configuration-popup select {	
		margin-right: 20px;
		padding: 2px 8px;
		border: 1px solid #999;
		-webkit-appearance: none;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;				
		border-bottom-left-radius: 0px;				
		border-bottom-right-radius: 0px;	
		background: white url('../images/dropdown-arrows-sprite_26_tall.png') no-repeat;	
		cursor: pointer;		
	}


	#configuration-popup .column-2 input[type="text"] {	
		padding: 5px 8px;
		border: 1px solid #999;
		-webkit-appearance: none;
		font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    	font-size: 12px;
    	font-weight: normal;
    	width: 146px;
	}
	
	#configuration-popup .column-2 p {	
		margin-top: 24px;
		color: #999;
		width: 152px;
		font-size: 12px;
		font-weight: bold;
		padding: 2px;
		line-height: 17px;
	}
	
		.ie8 #configuration-popup .column-2 p {	
			width: 160px;
		}	
	
	#configuration-popup .column-2 label {	
		font-size: 12px;
		margin-top: 0;
		font-weight: bold;
	}
	
		#configuration-popup .column-2 input[type="radio"] + label {	
			padding: 2px 0 0 6px;
			font-weight: normal;
		}
	
		.no-flexbox	#configuration-popup select {	
			padding: 0px 0px 0px 4px;
		}
		
		.no-flexbox	#configuration-popup select option {	
			font-size: 12px;
			padding: 4px 8px;
		}
	
		#state-selector select {
			width: 158px;
			height: 26px;
			background-position: 132px -1px;
		}
	
			#state-selector select:hover {
				background-position: 132px -41px;
			}
       	    	
		#behavior-selector select {
			width: 200px;
			height: 26px;
			background-position: 174px -1px;
		}
	
			#behavior-selector select:hover {
				background-position: 174px -41px;
			}

/** virtual blink **/

#virtual-blink {
	width: 170px;
	height: 110px;
	background: #eee;
	position: absolute;
	bottom: 18px;
	left: -34px;
	z-index: 98;
}


#virtual-blink-overlay {
	width: 170px;
	height: 110px;
	background: transparent url('../images/virtual_blink1.png') no-repeat;
	position: absolute;
	bottom: 18px;
	left: -34px;
	z-index: 99;
}


/** value selector **/

	#value-selector input[type="text"] {
		height: 20px;
		padding: 0px 5px;
		border: 1px solid #999;
		line-height: 1em;
		font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
		font-size: 11px;
		font-weight: normal;
		margin-left: 4px;
		float: right;
		width: 100px;
		margin-right: 10px;
	}

	#value-selector label {
		display: inline-block;
		margin-bottom: 2px;
		line-height: 23px;
	}
	
	p#current-value {
		display: inline-block;
		font-size: 22px;
		margin-top: 16px;
		font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "HelveticaNeue", sans-serif;
		font-weight: bold;
		color: #444;
		margin-bottom: 0;
	}

/** color selector **/

	#color-selector select {
		width: 128px;
		float: right;
		margin-right: 0;	
		background-position: 102px -1px;
		display: inline-block;
		margin-bottom: 12px;	
	}
	
		#color-selector select:hover {
			background-position: 102px -41px;
		}
	
	#color-selector #number-of-colors-group {
		position: relative;
		z-index: 999;
	}
	
	
	#color-selector label {
		display: inline-block;
		margin-bottom: 14px;
		vertical-align: top;
	}	
	
	#color-selector #color-swatches {
		display: inline-block;		
		width: 128px;
		float: right;
	}
	
	#color-selector #color-swatches-container {
		height: 30px;
		width: 150px;
		display: block;
		position: relative;
		right: 4px;
		z-index: 99;	
		list-style-type: none;  	
	}
		
		#color-selector label[for="color-swatches"] {
			line-height: 20px;
			margin-bottom: 0;
		}
		
		
	
		#color-selector .color-swatch {
			width: 16px;
			height: 22px;
			background: #eee;
			border: 1px solid #999;
			color: #999;
			display: list-item;
			float: left;
			margin-left: 2px;
			display: none;
			cursor: pointer;
			position: relative;
			font-size: 10px;
			font-weight: normal;
			text-align: center;
			line-height: 62px;
			font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
			color: #999;
		}
		
			#color-selector .color-swatch:hover {
				color: #666;
			}

		/*
	#color-selector .color-swatch:hover:after {
				content: 's';
			}
*/
		
			#color-selector .color-swatch.active {
				display: list-item;
			}


			#color-selector .color-swatch.currently-picking {
				border-color: #555;
				box-shadow: 0px 1px 5px 1px #999;
				-webkit-box-shadow: 0px 1px 5px 1px #999;
				-moz-	box-shadow: 0px 1px 5px 1px #999;	
				color: #444;							
			}


			#color-selector .unset {
				background-color: #eee;
			}
		
/*
			#color-selector .color-swatch:nth-of-type(1) {
				margin-left: 0;
			}
*/
		
		#color-selector #transition-options {
			text-align: center;
			margin-top: 0px;
			display: block;
			height: 22px;
			font-size: .9em;		
			float: right;
			width: 128px;
			margin-bottom: 6px;
		}
		
		#color-selector #transition-options label {
			margin-bottom: 0;
			line-height: 17px;
			margin-right: 13px;
		}
		
		#color-selector #transition-options label:last-of-type {
			margin-right: 0;
		}


		#repeat-options {
			display: block;
			clear: both;
			margin-top: 25px;
		}
		


/****************************************

	COLOR PICKER POPUP STYLES

****************************************/


#picker {
	position: absolute;
	left: 232px;
	top: 0px;
	display: none;
}

	#picker #fade-out {
		height: 492px;
		width: 722px;
		opacity: .7;
		background: #fff;
		position: absolute;
		left: -192px;
		top: 40px;
	}

		.ie8 #picker #fade-out {
			background: transparent;
		}
				
		
	#picker a {
		position: absolute;
		top: 488px;
	}
	
		#picker a.cancel {
			left: 211px;
			top: 496px;
		}
		
		.ie #picker a.cancel {
			left: 202px;
		}
		
		#picker a.done {
			color: #444;
			top: 484px;
			right: -17px;
			text-transform: uppercase;
			font-size: 18px;
			display: block;
			width: auto;
			padding: 4px 9px;
			border: 1px solid #4D4D4D;
			background: #E6E6E6;		
		}
		
			#picker a.done:hover {
				background: #F7931E;
			}
		
			.ie #picker a.done {
				font-size: 16px;
				top: 488px;
			}	


	#picker #color-display {
		position: relative;
		top: 426px;
		left: 90px;
		margin-bottom: 10px;
		width: 306px;
	}
	
	#picker #color-display p {
		font-size: 13px;
	}
	
	#picker #color-display input {
	margin-top: 0px;
	width: 66px;
	display: inline;
	color: #333;
	font-size: 29px;
	letter-spacing: 0px;
	text-align: left;
	}

		#picker #color-display input#r {
			color: red;
		}

		#picker #color-display input#g {
			color: green;
		}

		#picker #color-display input#b {
			color: blue;
		}
		
		#picker #color-display input#duration-setting {
			font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
			font-stretch: normal;
			font-size: 13px;
			width: 46px;
			position: relative;
			left: -138px;
			top: 17px;
			border: 1px solid #EEE;
			padding: 5px 3px;
			color: #444;
			font-weight: normal;
			text-align: center;
		}		

	#picker #color-display label[for="duration-setting"]  {
		font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
		font-stretch: normal;
		font-size: 11px;
		color: #999;
		font-weight: normal;
		position: relative;
		left: -73px;
		top: -5px;
		display: inline-block;
		width: 60px;
	}
	
	#picker #color-display p {
		text-align: center;
		margin-bottom: 0;
	}
	
	#picker .picker-swatch {
		height: 18px;
		width: 18px;
		border: 1px solid #999;
		position: absolute;
		top: 7px;
		
	}		
		
		#picker .picker-swatch#bright-white {
			left: -70px;
			background: white;
			top: -63px;
		}
	

				#picker .picker-swatch#bright-white p {
					right: 4px;
				}	
				
		#picker .picker-swatch#light-off {
			left: 211px;
			background: #999 url('../images/no-light-bg-scalable.png') no-repeat center center;
			background-size: 100% 100%;
			top: -63px;
		}
		
				#main-content #trigger-list .trigger-options .color-behavior-swatches li.summary-color-swatch.active.light-off {
					background-image: url('../images/no-light-bg-scalable.png');
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 100% 100%;
				}
		
			#picker .picker-swatch#light-off p {
				right: 15px;
				text-align: left;				
			}
			
		#picker #color-display .picker-swatch p {
			position: relative;
			font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
			font-stretch: normal;
			font-weight: normal;
			font-size: 10px;
			top: 24px;
			line-height: 11px;
			width: 50px;
		}
	
			#picker #color-display p#rgb {
				position: relative;
				left: -73px;
				top: -9px;
				font-size: 16px;
				border: 1px solid #EEE;
				padding: 7px 14px;
			}
	#picker p.instructions {
		font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
		font-size: 11px;
		font-weight: normal;
		text-align: center;
		width: 340px;
		position: absolute;
		top: 490px;
		/* turning off instructions to hide darkness slider */
		display: none;	
	}

div#gradient-circle-container {
	box-shadow: 0px 2px 14px 4px #666;
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;	
	position: absolute;
	top: 80px;
	left: 0px;
	background: #fff;
	height: 340px;
	width: 320px;
	padding: 10px 10px 61px;
	border-bottom: 40px solid transparent;
	cursor: pointer;
}

	.ie8 div#gradient-circle-container {
		border: 1px solid #555;
		padding-bottom: 100px;
	}


div#gradient-circle-container #gradient-circle {
	background: transparent url('../images/gradient-circle.png') no-repeat -13px -5px;
	height: 304px;
	width: 306px;
	border-radius: 140px;
	position: absolute;
	top: 17px;
	left: 17px;
}

#color-zoom {
	background: #eee;
	width: 36px;
	height: 36px;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #555;
	cursor: pointer;
}


	#picker input#darkness-range {
		display: none;
	}

/****************************************

	SETTINGS POPUP STYLES

****************************************/


#settings-popup {
	display: none;
	border: 1px solid #aaa;
	width: 285px;
	height: 478px;
	position: absolute;
	top: 40px;
	left: 46px;
}

	#settings-popup .popup-header {
		height: 50px;
	}
	
		#settings-popup .popup-header h2 {
			margin-top: 8px;
		}
	
	#settings-popup h2 {
		background: transparent url('../images/settings-gears-big.png') no-repeat;
		padding-left: 40px;
		position: relative;
		left: -8px;
		width: 210px;
		font-size: 28px;
	}

	#settings-popup p {
		font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
		font-size: 12px;
		font-weight: normal;
		line-height: 14px;
		margin-bottom: 8px;
	}
	
		#settings-popup p.about-info {
			color: #999;
			line-height: 12px;
		}
		
			#settings-popup p.about-info span {
				color: #333;
				font-weight: bold;
				font-size: 13px;
				position: absolute;
				left: 118px;
				display: inline-block;
				text-align: left;
				width: 120px;
				margin-bottom: 0;
			}
	
	#settings-popup h3 {
		margin-top: 22px;
		margin-bottom: 6px;
	}
	
		#settings-popup h3:nth-of-type(1) {
			margin-top: 0;
		}
		
		.ie7 #settings-popup h3, .ie8 #settings-popup h3, .ie9 #settings-popup h3 {
			font-size: .8em;
		}
		
		.ie7 #settings-popup h2, .ie8 #settings-popup h2, .ie9 #settings-popup h2 {
			font-size: 1.2em;
			height: 30px;
			padding-top: 6px;
		}
		
	#settings-popup #blink-status {
		font-size: 20px;
		font-weight: bold;
		color: #009245;
	}	
	
	#settings-popup a.cancel {
		position: absolute;
		top: 2px;
		right: 2px;
		background: transparent url('../images/close-x-sprite.png') no-repeat 5px 4px;
		height: 17px;
		width: 17px;
	}
		
		#settings-popup a.cancel:hover {
			background-position: 5px -26px;
		}



/****************************************

	UI INTERFACE TAB STYLES

****************************************/

.ui-tabs-hide {
	display: none;]
}


/****************************************

	BOTTOM-RIGHT LOGO STYLES

****************************************/

a#thingm-logo {
	display: block;
	opacity: .12;
	width: 54px;
	height: 54px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: transparent url('../images/thingm_logo.png') no-repeat;
	cursor: pointer;
}

	a#thingm-logo:hover {
		opacity: .4;
	}




	
/*************************************************

	FIREFOX STYLE FIXES

**************************************************/

.ie #configuration-popup select {	
	background-image: none;
}
	
.no-flexbox #main-content #trigger-list select {	
	background-image: none;
}
	
/*************************************************

	CLEARFIX STYLES

**************************************************/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}



/*************************************************

	FONT-FACE STYLES FOR CODER'S CRUX FONT

**************************************************/

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 

	@font-face {font-family:"Coder's Crux Regular";src:url("../fonts/coders_crux/coders_crux.eot?") format("eot"),url("../fonts/coders_crux/coders_crux.woff") format("woff"),url("../fonts/coders_crux/coders_crux.ttf") format("truetype"),url("../fonts/coders_crux/coders_crux.svg#Coder's-Crux") format("svg");font-weight:normal;font-style:normal;}
