<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Blink1Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Blink1Control.Properties.Settings>
            <setting name="inputs" serializeAs="String">
                <value />
            </setting>
            <setting name="patterns" serializeAs="String">
                <value />
            </setting>
            <setting name="logToScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hostId" serializeAs="String">
                <value>00000000</value>
            </setting>
        </Blink1Control.Properties.Settings>
    </userSettings>
</configuration>
