<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Blink1Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Blink1Control.Properties.Settings>
            <setting name="SomeSettings" serializeAs="String">
                <value>hello there why are you looking here</value>
            </setting>
            <setting name="hostId" serializeAs="String">
                <value>00000000</value>
            </setting>
            <setting name="todtest" serializeAs="String">
                <value>hello</value>
            </setting>
        </Blink1Control.Properties.Settings>
    </userSettings>
</configuration>