<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key><string>com.thingm.blink1</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/tod/projects/blink1/commandline/mongoose/mongoose</string>
      <string>-p</string>
      <string>8080</string>
      <string>-document_root</string>
      <string>/Users/tod/projects/blink1/commandline/html</string>
    </array>
    <key>Debug</key><false/>
    <key>Disabled</key><true/>
    <key>OnDemand</key><false/>
    <key>RunAtLoad</key><false/>
  </dict>
</plist>
