RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#

# this is for tod local debugging, don't use in production!
#RewriteBase /~tod/blink1/
#RewriteBase / 

RewriteRule ^tester/ - [L]
RewriteRule ^eventscache - [F,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
